{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            {{ with .Site.Params.hero.slogan }}
            <h1>{{ . | markdownify }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
            <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
            <p>{{ . | markdownify }}</p>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</header>
<footer style="background-color:#e6e6e6; line-height:50px; color:#666">
	<div style="text-align:center; font-family:Microsoft YaHei;">
		<span>
			<a target="_blank" href="http://beian.miit.gov.cn/" rel="noopener noreferrer" style="color: #939393;">皖ICP备2020019679号</a>
		</span>
        <span>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34012302001050" style="color: #939393;" class="beian">皖公网安备 34012302001050号</a>
        </span>
	</div>
</footer>